{% extends "base.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ message }}</h2>
        <p class="card-text">There are currently <strong> {{ num_meetings }} </strong> meetings.</p>

      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Meeting List</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Detail</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for meeting in meetings %}
                <tr>
                  <td>{{ meeting.title }}</td>
                  <td>{{ meeting.date }}</td>
                  <td>
                    <a href="{% url 'detail' meeting.id %}" class="btn btn-md btn-info">Detail</a>
                  </td>
                  <td>
                    <a href="{% url 'update' meeting.id %}" class="btn btn-md btn-warning">Update</a>
                  </td>
                  <td>
                    <a href="{% url 'delete' meeting.id %}" class="btn btn-md btn-danger">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a href="{% url 'create' %}" class="btn btn-md btn-success float-end">Create New One</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}