<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'store' %}">All</a></li>
            {% for category in model %}
              <li><a class="dropdown-item" href="{% url 'list-category' category.slug %}">{{ category.name | capfirst }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-sm btn-success fload-end" type="button" href="{% url 'dashboard' %}">
              <i class="fa fa-home" aria-hidden="true">&nbsp; Dashboard</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-danger ms-2 me-2 fload-end" type="button" href="{% url 'user_logout' %}">
              <i class="fa fa-sign-out" aria-hidden="true">&nbsp; Logout</i>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-sm btn-success fload-end" type="button" href="{% url 'my_login' %}">
              <i class="fa fa-sign-in" aria-hidden="true">&nbsp; Sign In</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-danger ms-2 me-2 fload-end" type="button" href="{% url 'register' %}">
              <i class="fa fa-user-plus" aria-hidden="true">&nbsp; Sign Up</i>
            </a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>