
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Store
{% endblock %}

{% block content %}
<h1>{{ category_name | capfirst }}</h1>
<hr><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ product.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Title: </strong>{{ product.title | capfirst }}</h5>
            <p class="card-text"><strong>Price: </strong>{{ product.price }}</p>
              <a href="{% url 'product-info' product.slug %}" class="btn btn-sm btn-outline-success float-end" >Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}